$primary-color: #1976D2 !default;
$primary-color-light: #BBDEFB !default;
$primary-color-dark: #0D47A1 !default;
$white-text-color: #FFFFFF !default;
$black-text-color: #000000 !default;
$accent-color: #FFAB00 !default;
$accent-color-trial: #00BCD4  !default;
$white: #FFFFFF !default;
$grey: #424242 !default;
$light-grey: #EEEEEE !default;
