@import '_variables';

header, body {
  font-family: 'Oxygen', sans-serif; 
  background-color: $light-grey;
}

.main-container {
  margin: 0 auto;
  max-width: 1280px;
}

.top-nav {
  background-color: $white;
  ul li a {
    color: $accent-color-trial;
  }
}

.banner {
  height: 100%;
  width: 70%; 
  margin: 0 auto;
  max-width: 1280px;
  color: $white-text-color;
} 

.banner-container {
  height: 60%;
  width: 100%;
  background-color: $accent-color-trial;
}

.center-image {
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 601px) {
  .main-container {
    width: 90%;
  }
  .banner {
    width: 60%;    
  }
}

@media only screen and (min-width: 994px) {
  .main-container {
    width: 80%;
  }
  .banner {
    width: 70%;    
  }
}


